<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Patient Information Portal</title>
    <link rel="stylesheet" href="static/styles/nicepage.css" media="screen">
    <link rel="stylesheet" href="static/styles/index.css" media="screen">
    <link rel="stylesheet" href="static/styles/login.css" media="screen">
    <link rel="stylesheet" href="static/styles/timeline.css" media="screen">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Dashboard">
    <meta property="og:type" content="website">
    <style>
      .timeline ul li .time{
        background: rgb({{rgb}});
        color: black;
        box-shadow:0 0 0 3px rgba({{rgb}}, 0.3);
      }
    </style>
    <div style="display: none;">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 53 53" x="0px" y="0px" id="svg-2132" style="enable-background:new 0 0 53 53;">
        <path style="fill:#E7ECED;" d="M18.613,41.552l-7.907,4.313c-0.464,0.253-0.881,0.564-1.269,0.903C14.047,50.655,19.998,53,26.5,53
          c6.454,0,12.367-2.31,16.964-6.144c-0.424-0.358-0.884-0.68-1.394-0.934l-8.467-4.233c-1.094-0.547-1.785-1.665-1.785-2.888v-3.322
          c0.238-0.271,0.51-0.619,0.801-1.03c1.154-1.63,2.027-3.423,2.632-5.304c1.086-0.335,1.886-1.338,1.886-2.53v-3.546
          c0-0.78-0.347-1.477-0.886-1.965v-5.126c0,0,1.053-7.977-9.75-7.977s-9.75,7.977-9.75,7.977v5.126
          c-0.54,0.488-0.886,1.185-0.886,1.965v3.546c0,0.934,0.491,1.756,1.226,2.231c0.886,3.857,3.206,6.633,3.206,6.633v3.24
          C20.296,39.899,19.65,40.986,18.613,41.552z">
        </path>
        <g>
        <path style="fill:#556080;" d="M26.953,0.004C12.32-0.246,0.254,11.414,0.004,26.047C-0.138,34.344,3.56,41.801,9.448,46.76
          c0.385-0.336,0.798-0.644,1.257-0.894l7.907-4.313c1.037-0.566,1.683-1.653,1.683-2.835v-3.24c0,0-2.321-2.776-3.206-6.633
          c-0.734-0.475-1.226-1.296-1.226-2.231v-3.546c0-0.78,0.347-1.477,0.886-1.965v-5.126c0,0-1.053-7.977,9.75-7.977
          s9.75,7.977,9.75,7.977v5.126c0.54,0.488,0.886,1.185,0.886,1.965v3.546c0,1.192-0.8,2.195-1.886,2.53
          c-0.605,1.881-1.478,3.674-2.632,5.304c-0.291,0.411-0.563,0.759-0.801,1.03V38.8c0,1.223,0.691,2.342,1.785,2.888l8.467,4.233
          c0.508,0.254,0.967,0.575,1.39,0.932c5.71-4.762,9.399-11.882,9.536-19.9C53.246,12.32,41.587,0.254,26.953,0.004z">
        </path>
        </g>
      </svg>
    </div>
</head>
  
 <body class="u-body u-xl-mode" data-lang="en">
  <header class="u-clearfix u-header u-header" id="sec-8771">
    <div class="u-clearfix u-sheet u-sheet-1">
      <a class="u-image u-logo u-image-1">
        <img src="static/styles/logo.png" width=75px height=75px class="u-logo-image u-logo-image-1">
      </a>
      <p class="u-text u-text-default u-text-1">Patient Information Portal<br></p>
    </div>
  </header>
    <section class="u-clearfix u-section-1" id="sec-dbd3">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-28 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <h6 class="u-text u-text-default u-text-1" style="color: #556080; font-weight: 350;">Signed in as <br></h6>
                  <h3 class="u-text u-text-default u-text-2">{{uname}}</h3>
                  <a href="/logout">&nbsp;&nbsp;&nbsp;&nbsp;Logout</a>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-27 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <h3 class="u-text u-text-default u-text-3">Name: {{name}}</h3>
                  <h5 class="u-text u-text-default u-text-4">Patient ID: {{pid}}</h5>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-5 u-layout-cell-3">
                <div class="u-container-layout u-valign-middle u-container-layout-3">
                  <span class="u-icon u-icon-1">
                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" width="72px" height="72px" viewBox="0 0 53 53">
                      <use xlink:href="#svg-2132"></use></svg>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <form action="" class="u-clearfix u-form-vertical u-inner-form" source="id" name="form" style="padding: 10px; margin-left: 75%;" method="post">
            <input type="text" placeholder="Enter your ID" id="name-c199" name="pid" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-8 u-white textbox"><br><br>
            <input type="submit" value="submit" class="btn" style="margin-left: 60%;">
        </form>
      </div>
    </section>
    {% if pid %}
    <section class="u-clearfix u-section-2" id="sec-b783">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-container-style u-group u-shape-rectangle u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <h3 class="u-text u-text-default u-text-1">General Information:<br></h3>
            <ul class="u-text u-text-default u-text-2" style="list-style-type:none;">
              <li><strong>Age:</strong> {{age}}</li>
              <li><strong>Blood Group:</strong> {{bldgrp}}</li>
              <li><strong>Chronic Diseases:</strong> {{chronic}}</li>
              <li><strong>Allergies:</strong> {{allergies}}</li>
              <li><strong>Ill reacting Drugs:</strong> {{illdrugs}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="u-border-3 u-border-custom-color-1 u-container-style u-group u-radius-10 u-shape-round u-group-2">
        <div class="u-container-layout u-container-layout-2">
          <h3 class="u-text u-text-default u-text-3">Timeline:<br></h3>
          <button class="btn doctor add" style="float: right;" onclick="window.location.href='/add{{pid}}'">Add Record</button> 
          <div class="timeline">
            <ul>
              <!-- Start for loop here -->
              {% for event in history %}
              <li>
                <div class="content">
                  <h3>{{event[0]}}</h3>
                  <p>
                    <strong>Symptoms:</strong> {{event[1]}}<br>
                    <strong>Disease(s) identified:</strong> {{event[2]}}<br>
                    <strong>Medication:</strong> {{event[4]}}<br>
                    <strong>Diagnosis:</strong> {{event[3]}}<br>
                    <strong>Remarks:</strong> {{event[5]}}<br>
                  </p>
                </div>
                <div class="time">
                  <h4>{{event[6][:10]}}</h4>
                </div>
              </li>
              {% endfor %}
              <!-- End for loop here -->
              <div style="clear:both;"></div>
            </ul>
        </div>
      </div>
    </section>
    {% endif %}
  <!-- <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-f50f">
    <div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-small-text u-text u-text-variant u-text-1">All information is stored on secure servers and your data is safe. Only you and your Doctors can access it.<br></p>
    </div>
  </footer>   -->
</body></html>
