<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Patient Information Portal</title>
    <link rel="stylesheet" href="static/styles/nicepage.css" media="screen">
    <link rel="stylesheet" href="static/styles/index.css" media="screen">
    <link rel="stylesheet" href="static/styles/login.css" media="screen">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Dashboard">
    <meta property="og:type" content="website">
</head>
  
 <body class="u-body u-xl-mode" data-lang="en">
  <header class="u-clearfix u-header u-header" id="sec-8771">
    <div class="u-clearfix u-sheet u-sheet-1">
      <a class="u-image u-logo u-image-1">
        <img src="static/styles/logo.png" width=75px height=75px class="u-logo-image u-logo-image-1">
      </a>
      <p class="u-text u-text-default u-text-1">Patient Information Portal<br></p>
    </div>
  </header>
    <section class="u-clearfix u-section-1" id="sec-dbd3">
      <br><br><br>
		<div align="center">
			<div class="u-text-default">
				<h1>Doctor Login</h1>
			</div><br>
			<h2 class="word">
				
				<form action="" method="post">
					<input id="username" name="id" type="text" placeholder="ID" class="textbox" value="{{request.form.id}}"/></br></br>
					<input id="password" name="password" type="password" placeholder="Password" class="textbox" value="{{request.form.password}}"/></br></br></br>
					<input type="submit" class="btn" value="Sign In"></br></br>
				</form>
			</h2>
      {% if error %}
          <p class="error"><strong>Error: </strong>{{error}}</p>
      {% endif %}
		</div><br><br>
    </section>
  <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-f50f">
    <div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-small-text u-text u-text-variant u-text-1">All information is stored on secure servers and your data is safe. Only you and your Doctors can access it.<br></p>
    </div>
  </footer>  
</body></html>
