.u-section-1 .u-sheet-1 {
  min-height: 79px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 78px;
}

.u-section-1 .u-container-layout-1 {
  padding: 12px 0 0;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 0 auto 0 17px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 78px;
}

.u-section-1 .u-container-layout-2 {
  padding: 5px 8px;
}

.u-section-1 .u-text-3 {
  margin: 5px 0 0 auto;
}

.u-section-1 .u-text-4 {
  margin: 0 1px 0 auto;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 78px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 6px;
}

.u-section-1 .u-icon-1 {
  width: 76px;
  height: 76px;
  margin: 0 auto 0 0;
  padding: 0;
}



.u-section-2 .u-sheet-1 {
  min-height: 79px;
}

.u-section-2 .u-group-1 {
  min-height: 180px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-1 {
  margin: 30px 45px 0;
}

.u-section-2 .u-text-2 {
  margin: 0 auto 0 90px;
}

.u-section-2 .u-group-2 {
  width: 1176px;
  min-height: 357px;
  height: auto;
  margin: 21px auto 60px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin-bottom: 0;
  margin-top: 0;
}